body {
  background-color:#fff0f5;
  font-family: Calibri;
  margin: 10% 10%;
}

.name {
  text-align: center;

}

.new {
  border-top: 2px solid;  
  text-align: center;
}

.extra {
  text-align: center;
}

.ex {
  border-top: 2px solid;  
  text-align: center;
}

.date {
  text-align: right;
}
